@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --font1: font-family: "Roboto", sans-serif;
}

body {
    font-family: var(--font1);
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(100, 100, 100));
}

#bts {
    z-index: 1;
    grid-column-start: 2;

    grid-column-end: 3;
    background-color: rgba(180, 180, 180, 0.6);
    border-radius: 0 0 10px 10px;
    padding: 10px;
    height: fit-content;
    text-align: center;

    a {
        margin: 0 5px;
    }
}

.forms {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#result {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    a {
        text-decoration: none;
        color: white;
    }
}


.pag {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    display: none;

}

#pag1 {
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(255, 255, 80));

}

#pag2 {
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(255, 100, 80));

}

#pag3 {
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(255, 80, 255));

}

#pag4 {
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(40, 80, 255));

}